/** page structure **/
#w {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 3px 0px;
}


/** posts slider widget **/
.crsl-items {
  display: block;
  padding: 0px;
}

.crsl-item {
  background: #fff;
  padding: 2px 0px 0px 0px;
  text-align: center;
  margin-left: -1px;
}

 a.crsl-item table,a:focus,a:hover {
font-weight: 400;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
cursor: pointer;
}
a.crsl-item table:hover{
	color: #A80508!important;
}
.crsl-item p {
  font-size: 1.2em;
  line-height: 1.55em;
  margin-bottom: 5px;
}

.crsl-item p.readmore a {
  display: block;
  float: right;
  color: #4e90da;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crsl-item p.readmore a:hover {
  background: #4b6caa;
  color: #fff;
}
.table_btn{
	background-color: #F00F64!important;
	color:#fff!important;
	font-size: 11px;
	border-radius:25px;
	padding: 5px 25px;
	cursor: pointer;
}
.table_btn a:hover{ text-decoration:none}

/** posts slider nav **/
.slidernav {
   display: block;
  text-align: center;
  margin-bottom:0px;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 15px; 
}

.slidernav span {
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 23px;
  margin-bottom:0px;
  font-size: 1.4em;
  background: #414042;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.slidernav span:active {
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.table_info p{
	color: #231F20;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 600;
	margin-bottom: 10px;
	margin-top: 10px;
}
.table_crsl{
	border-bottom: 1px solid #E6E7E8!important;
	padding: 10px 5px!important;
	color:#231F20!important;
	font-family: 'Montserrat', sans-serif;
	font-size:15px!important;
	font-weight:400!important;
}

.table_crsl_item{
	border-bottom: 1px solid #E6E7E8!important;
	padding: 10px 5px!important;
	color:#231F20!important;
	font-family: 'Montserrat', sans-serif;
	font-size:15px!important;
	font-weight:300!important;
}
.table_crsl_item_btns{
	padding: 10px 5px!important;
	color:#231F20!important;
	font-family: 'Montserrat', sans-serif;
	font-size:15px!important;
	font-weight:300!important;
}
/** media queries **/
@media screen and (max-width: 660px) {
  h1 { font-size: 2.4em; line-height: 1.2em; }
  
  .crsl-item h3 { font-size: 1.65em; }
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


.next-inactive{
background-color:#E6E7E8!important;
color:#FFFFFF!important; 
}
.previous-inactive{
background-color:#E6E7E8!important;
color:#FFFFFF!important; 
}
.crsl-active table tr td{
 color:#F00F64!important; 
}
