@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

/* YOUR CUSTOM STYLES */
.wapper{
	width:100%;
	height:auto;
	float: left;
	background-color:#E6E7E8;
	background-image: url(../images/wapper_bg.png);
	background-position: left;
	background-repeat: repeat;
	padding-top: 90px;
}
.home_wapper{
	width:100%;
	height:auto;
	float: left;
	background-color:#FFBC00;
	background-image: url(../images/wapper_bg.png);
	background-position: left;
	background-repeat: repeat;
	padding-top: 90px;
}
.nav_top{
 background-color:#ffffff; 
-webkit-box-shadow: 0 5px 5px -5px #cccccc;
   -moz-box-shadow: 0 5px 5px -5px #cccccc;
        box-shadow: 0 5px 5px -5px #cccccc;
}
.sub_wapper{
	width:100%;
	height: 100%;
	background-color: #fff;
	float: left;
	padding:0px;
	margin: 0px;
	box-shadow: -20px 0px 20px -100px #222, 20px 0px 20px -100px #222;

}
.provider_logo{
	width:140px;
	height:50px;
}
.nav_btn{
	width:160px; 
	height: 40px!important;
	line-height:40px; 
	border:1px solid #414042;
    border-radius:50px;
    cursor: pointer;
	color:#58595B!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
	margin-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	margin-right: 15px;
	
}
.nav_btn_login{
	width:160px; 
	height: 40px!important;
	line-height:40px; 
	border:1px solid #F00F64;
    border-radius:50px;
    cursor: pointer;
	background-color:#F00F64!important; 
	color:#fff!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
	margin-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	margin-right: 15px;
	
}
.navbar-fixed-left {
  width: 170px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  border-right:1px solid #E6E7E8;
}
.navbar-fixed-left + .container {
  padding-left: 170px;
  padding-top: 20px;
  padding-bottom:5px;
  max-height: 100%;
}

.navbar-fixed-left ul{
	padding:0px;
	margin:0px;
	list-style: none;
	
}

.navbar-fixed-left ul li a{
	display: block;
	padding: 10px 15px!important;
	margin: 5px 0px!important;
	color: #231F20;
	font-size:13px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.navbar-fixed-left ul li a:hover{
	color: #F00F64;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:13px;
}

.right_side{
	width:100%;
	height:auto;
	float: left;
}
.right_side h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color:#414042;
	font-size: 23px;
}

.right_side h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color:#231F20;
	font-size: 15px;
}

.right_side h3{
	font-family:'Montserrat', sans-serif;
	font-weight:300;
	color:#F00F64;
	font-size: 24px;
	margin: 0px;
}
.change_btn {
background-color:#F00F64!important;
color:#fff!important;
margin:0px 0px 0px 5px;
border-radius:15px;
font-size: 11px;
font-weight:400;
padding: 5px 15px!important;
}
.view_btn {
background-color:#BCBEC0!important;
color:#fff!important;
margin:0px 0px 0px 5px;
border-radius:15px;
font-size: 11px;
font-weight:400;
padding: 5px 15px!important;
}

.outline_btn {
background-color:#fff!important;
color:#F00F64!important;
border: 1px solid #F00F64!important;
margin:0px 0px 0px 5px;
border-radius:15px;
font-size: 11px;
font-weight:400;
padding: 5px 15px!important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nopadding-left {
   padding-left:0 !important;
   margin: 0 !important;
}
.nopadding-right {
   padding-right:0 !important;
   margin: 0 !important;
}
.nomargin {
   padding: 0 !important;
   margin: 0 !important;
}
.nomargin-left {
   padding: 0 !important;
   margin-left: 0 !important;
}
.nomargin-right {
   padding: 0 !important;
   margin-right:0 !important;
}
.progress_label{
	color:#6D6E71;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 11px;
	
}
.top_header_span{
	color:#A7A9AC!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
	text-align: center;
}

.top_header_right_span{
	color:#414042!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
	text-align: right;
	margin: 5px 0px;
}

.top_header_right_span h5{
	color:#414042!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
	text-align: right;
	margin: 5px 0px;
}
.top_header_right_span h6{
	color:#414042!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
	text-align: right;
	margin: 5px 0px;
}
.table_active{
	background-color: #414042!important;
	color:#fff!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 12px!important;
    font-weight: 500!important;	
}
.table_th{
	color:#fff!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px!important;
    font-weight: 500!important;	
}
.caption h6{
	font-family: 'Montserrat', sans-serif;
    font-size: 11px!important;
    font-weight: 400!important;
	color: #fff!important;
	margin:0px; 
}
.caption h4{
	font-family: 'Montserrat', sans-serif;
    font-size: 23px!important;
    font-weight: 200!important;
	color: #fff!important;
	margin:5px 0px; 
}
.caption h4 small{
	font-family: 'Montserrat', sans-serif;
    font-size: 18px!important;
    font-weight: 300!important;
	color: #fff!important;
	margin:5px 0px; 
}
.thumbnail_btn_left{
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
	border-radius:15px;
	border: 1px solid #fff!important;
	background-color: rgba(255, 255, 255, 0.2)!important;
	color:#fff!important; 
}

.thumbnail_btn_right{
	margin-right: 25px;
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
	color:#fff!important;
	text-decoration: underline!important;
	text-transform: inherit;
}
.thumbnail_blue {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#0070DA;
border-radius:0px;
color: #fff;
min-height:205px; 
}

.thumbnail_red {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#F4474A;
border-radius:0px;
color: #fff;
height:135px; 
}

.thumbnail_pink {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#C41074;
border-radius:0px;
color: #fff;
min-height:205px; 
}

.thumbnail_yellow {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#FFBC00;
border-radius:0px;
color: #36465F;
height:170px; 
}
.caption_yellow {
padding:5px;
color:#36465F
}

.caption_yellow h6{
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
	color: #36465F;
	margin:0px; 
}
.caption_yellow h4{
	font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 200;
	color: #36465F;
	margin:8px 0px; 
}
.caption_yellow h4 small{
	font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
	color: #36465F;
	margin:8px 0px; 
}

.caption_yellow h5{
	font-family:'Montserrat', sans-serif;
    font-size:15px;
    font-weight: 300;
	color:#36465F;
	margin:5px 0px; 
}

.thumbnail_btn_left_yellow{
	font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
	border-radius:15px;
	border: 1px solid #36465F!important;
	background-color: rgba(54, 70, 95, 0.1)!important;
	color:#36465F!important;
	padding: 4px 20px!important;
}

.thumbnail_btn_right_yellow{
	margin-right: 25px;
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
	color:#36465F!important;
	text-decoration: underline!important;
	text-transform: inherit;
}

.form-control_select {
border: 1px solid #fff!important;
-webkit-box-shadow:none;
box-shadow:none;
border-radius:0;
/*background-color: rgba(255, 255, 255, 0.2)!important;
-webkit-background-color: rgba(255, 255, 255, 0.2)!important;
color:#fff!important;*/
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-weight:400;
height: 30px!important;
line-height: 30px!important;
padding: 5px!important;
}
.form-control_select:focus {
border-color:#fff!important;
outline:0;
}


#myCarousel .nav a {
 display:block;
 color: #58595B;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 font-weight:300;
 border:1px solid #E6E7E8;
 border-top:none;
 min-height:60px;
 min-width:150px;
}

#myCarousel .nav a small {
    display:block;
	color:#A7A9AC;
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight:400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	max-width: 150px;
	text-align: center;
}

.abcd{
	color:#fff!important;
}

#myCarousel .nav a:focus {
 display:block;
 color: #fff;
 font-family: 'Montserrat', sans-serif;
 font-size: 14px;
 font-weight:500;
 border:1px solid #E6E7E8;
 border-top:none;
}

#myCarousel .nav {
	background:#fff;
}
#myCarousel .nav a {
    border-radius:0px;
}

.carousel-caption h3{
	color:#fff;
	font-size: 19px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.carousel-caption h4{
	color:#fff;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.carousel-caption h6{
	color:#666b73;
	font-size: 12px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.carousel-caption p{
	color:#666b73;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.heading{
	font-size: 24px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	color:#F00F64;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	
}
.heading span{
	font-size: 24px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color:#F00F64;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	
}
.heading2{
	font-size: 23px;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
	color:#414042;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 15px;
	
}
.heading2 a{
	font-size: 23px;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
	color:#27AAE1;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 15px;
	
}
.para{
	font-size: 13px;
	font-weight:300;
	font-family: 'Montserrat', sans-serif;
	color:#808285;
	text-align: center;
}
.modal-title h4{
	color:#231F20;
	font-size: 27px;
	font-weight:200;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 20px 0px 0px 0px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.forgot a{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #27aae1!important;
	text-decoration: underline!important;
	font-weight: 300;
	
}
.form-modal{
	background-color: #fff;
    color: #36465f;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 50px!important;
    line-height: 1.42857!important;
    width: 100%;
	border-radius:4px!important; 
	border: 1px solid #D0D2D3!important;
}
.in{
	background: rgba(35, 31, 32, 0.6); 
}
.modal-container {
	background-color: #ffffff;
	height: 100%;
}
.btn_yellow{
	background-color: #FFBC00!important;
    border-radius: 50px;
    color: #414042!important;
    font-family: "Montserrat",sans-serif;
    font-size: 13px!important;
    font-weight: 400;
    padding: 8px 30px;
}

.tab-pane h4{
	font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 600;
	color:#231F20;
	margin-top: 0px;
	margin-bottom:10px;
	text-align: left;
	margin-left: 10px;
}
.card-title{
	color:#000000; 
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 800;
	margin-left: 5px;
	margin-bottom: 0px!important;
	margin-top: 5px!important;
	white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
	
}
.card-text{
	color:#808285;
	font-family: "Montserrat",sans-serif;
    font-size: 11px;
    font-weight: 300;
    overflow: hidden;
	width: 100%;
}

.card-img{
    width: 30px;
	height:30px;
	float: left;
	background-color: #ccc;
	border-radius:100px;
	margin-bottom:5px;
	margin-right:10px; 
	
}
.card-block h5{
	color:#F00F64;
	font-family: "Montserrat",sans-serif;
    font-size: 11px;
    font-weight: 600;
	text-decoration:none;
	cursor: default;
	white-space: nowrap!important;  
    overflow: hidden!important;
    text-overflow: ellipsis!important; 
}
.active {
    color: #f00f64!important;
	font-weight:400!important;
  /* color: #fff!important;*/
}
.strong{
	font-weight: 600!important;
}
.card-img-top{
	width:100%;
	min-height:120px;
	position: relative;
}
.card-img-top img{
	width:100%;
	height:100% 
}
.card-img-icon{
	bottom:0;
    left:0;
	top:8%;
	right:0; 
	margin-left: auto;
	margin-right:auto;
    position: absolute;
	width: 80px;
	height: 80px;
}

	.promo_thumbnail {
	display:block;
	padding:0px;
	margin-bottom:20px;
	line-height:1.42857143;
	border-radius:2px;
	color: #fff;
	box-shadow: 0px 1px 5px 0px rgb(204, 204, 204);
	-webkit-box-shadow: 0px 1px 5px 0px rgb(204, 204, 204);
	-moz-box-shadow: 0px 1px 5px 0px rgb(204, 204, 204);
	}

	.promo_thumbnail>img,.promo_thumbnail a>img {
	margin-left:auto;
	margin-right:auto
	}

	.promo_thumbnail .caption {
	padding:5px;
	color:#fff
	}
.promo_col-6{
	padding-left:10px!important;
	padding-right:10px!important;
}

.promo-img-container {
  position: relative;
  height:190px;
  overflow: hidden;
}

promo-img-container img {
    height: 100%;
	/*width: 100%;*/
}

.promo-img-container .promo-img-footer {
    position: absolute;
    bottom: 0; left: 0;
    padding: 0 10px;   
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,0.7);   
}
.promo-img-footer h5{
	font-family: "Montserrat",sans-serif;
	font-size: 15px;
	margin: 5px 0px 2px 0px;
	font-weight: 600;
}
.promo-img-footer p{
	font-family: "Montserrat",sans-serif;
	font-size: 13px;
	color:#fff;
	font-weight:200;
}

.promo-btn-footer{
    border: 1px solid #F00F64;
    border-radius: 15px;
	color:#F00F64!important; 
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
	font-size: 11px!important;
	background-color: #fddbe8!important;
	margin-right: 5px;
}
.promo-btn-left-footer{
    border:none;
    border-radius:0px;
	color:#F00F64!important; 
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
	font-size: 17px!important;
	background-color: #fff!important;
	padding: 5px 5px!important;
	text-transform: inherit;
}


#progress {
    position: relative;
}

#progress .progressBar {
    height:5px;
    width: 100%;
    position: absolute;
	margin-bottom: 20px;
	background: #E6E7E8;
}

#progress .progressNow {
    height:5px;
    width:6px;
    background: #E6E7E8;
    position: absolute;
}

#progress .progressNow::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #E61E5A;
    display: block;
    margin-left: -5px;
    position: absolute;
    top: -4px;
	margin-bottom:15px; 
}
.progressNow-span h5{
	color:#6D6E71; 
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
	font-size: 11px;
	margin-bottom: 10px;
    margin-top: 15px;
}

.tab_plans h3 {
    color: #231F20;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    font-weight: 600;
	margin: 0px 0px 5px 0px;

}


.tab_plans h4 {
    color: #414042;
    font-family: "Montserrat",sans-serif;
    font-size: 23px;
    font-weight: 200;
	margin-left: 0px;

}

.tab_plans h5 {
    color: #414042;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 300;
	text-align: right;
}

.tab_plans p{
	color: #6D6E71;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 300;
	margin-bottom: 20px;
}
.caption p{
	color: #ffffff!important;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 300;
	margin-bottom: 20px;
}
.table_info{
	border-bottom: 1px solid #E6E7E8!important;
	padding: 20px 5px!important;
	color:#231F20!important;
	font-family: 'Montserrat', sans-serif;
	font-size:15px!important;
	font-weight:400!important;
}
.table_info strong{
	font-weight:600!important;
}
.table_info span{
	color:#F00F64!important; 
}
.table_btn{
	background-color: #F00F64!important;
	color:#fff!important;
	font-size: 10px;
	border-radius:25px;
	padding: 3px 12px;
	cursor: pointer;
}
.table_btn a:hover{ text-decoration:none}

/* Absolute Center Spinner */
#loading {
  position: fixed;
  z-index: 9999999;
  height: 2em;
  overflow: show;
  margin: auto;
  text-align:center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
#loading:before {
  content: '';
  display: block;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.contact h4{
    color: #414042;
    font-family: "Montserrat",sans-serif;
    font-size: 23px;
    font-weight: 200;
	margin: 0px 0px 30px 0px;	
}
.contact h3 {
    color: #231F20;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    font-weight: 600;
	margin: 0px 0px 10px 0px;

}
.contact h5 {
    color: #231F20;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 300;
	margin: 0px 0px 10px 0px;

}

.contact h6 {
    color: #231F20;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 300;
	margin: 0px 0px 10px 0px;

}
.map-col{
	width:100%;
	height: auto;
	float: left;
	margin-top: 55px;
}
.plan_blue_box {
display:block;
padding:8px;
margin:8px;
line-height:1.42857143;
background-color:#0070DA;
border-radius:0px;
color: #fff;
width: 20.6rem;
min-height:180px;
float: left;
}
.plan_red_box {
display:block;
padding:8px;
margin:8px;
line-height:1.42857143;
background-color:#F4474A;
border-radius:0px;
color: #fff;
width: 20.6rem;
min-height:135px;
float: left;
}
.plan_pink_box {
display:block;
padding:8px;
margin:8px;
line-height:1.42857143;
background-color:#C41074;
border-radius:0px;
color: #fff;
width: 20.6rem;
min-height:135px;
float: left; 
}
#about_us_data, #services_data{
 color:#414042; 
}
#about_us_data p, #services_data p{
 color:#414042;
 font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 300;
}

   #about_us_data h3, #services_data h3 {
    color: #231f20;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
}
   #about_us_data h4, #services_data h4 {
    color: #414042;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px;
}
   #about_us_data h2, #services_data h2 {
    color: #414042;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 500;
  
}

   #about_us_data h1, #services_data h1 {
    color: #414042;
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    font-weight: 400;
  
}



.garfes_div{
   width:100%;
   height: auto;
   float: left;
   margin: -25px 0px 20px 0px;
}
.garfes_div ul li{
 color: #424143
;
 display: block;
 position: relative;
 width: 100%;
 height: auto;
 z-index:1;
}.garfes_div ul li input[type=radio]{
 position: absolute;
 visibility: hidden;
}.garfes_div ul li label{
 display: block;
 position: relative;
 font-weight: 600;
 font-size: 12px;
 padding: 30px 25px 25px 60px;
 margin: 10px auto;
 height: 30px;
 z-index: 9;
 cursor: pointer;
 -webkit-transition: all 0.25s linear;
}.garfes_div ul li:hover label{
   color: #f00f64
;
}.garfes_div ul li .check{
 display: block;
 position: absolute;
 border: 2px solid #424143
;
 border-radius: 100%;
 height: 25px;
 width: 25px;
 top: 30px;
 left: 20px;
   z-index: 5;
   transition: border .25s linear;
   -webkit-transition: border .25s linear;
}.garfes_div ul li:hover .check {
 border: 2px solid #f00f64
;
}.garfes_div ul li .check::before {
 display: block;
 position: absolute;
 content: '';
 border-radius: 100%;
 height: 15px;
 width: 15px;
 top: 3px;
 left: 3px;
 margin: auto;
 transition: background 0.25s linear;
 -webkit-transition: background 0.25s linear;
}
.garfes_div ul li input[type=radio]:checked ~ .check {
 border: 2px solid #f00f64;
}
.garfes_div ul li input[type=radio]:checked ~ .check::before{
 background: #f00f64;
}
.garfes_div ul li input[type=radio]:checked ~ label{
 color: #f00f64;
}

.datefilters{
  border: 1px solid #e6e7e8
!important;
  min-width: 215px;
  height:35px;
  padding: 0px 5px!important;
  border-radius: 2px!important;
  box-shadow: none!important;
}.select_datefilters{
  border:none!important;
  min-width: 200px;
  height:30px;
  box-shadow: none!important;
}
select,select.datefilters {
border:0;
border-radius:0;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
padding-left:0;
padding-right:0;
background-color:transparent;
/*background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
*/
background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
-webkit-background-size:13px 13px;
background-size:13px;
background-repeat:no-repeat;
background-position:rightr center;
-webkit-box-shadow:inset 0 -1px 0 #ddd;
box-shadow:inset 0 -1px 0 #ddd;
font-size:16px;
line-height:1.5;
margin-bottom: 15px;
}


