@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

/* YOUR CUSTOM STYLES */
.wapper{
	width:100%;
	height:auto;
	float: left;
	background-color:#E6E7E8;
	background-image: url(../images/wapper_bg.png);
	background-position: left;
	background-repeat: repeat;
	padding-top: 90px;
}
.home_wapper{
	width:100%;
	height:auto;
	float: left;
	background-color:#FFBC00;
	background-image: url(../images/wapper_bg.png);
	background-position: left;
	background-repeat: repeat;
	padding-top: 90px;
}
.nav_top{
background-color:#ffffff; 
}
.sub_wapper{
	width:100%;
	height: 100%;
	background-color: #fff;
	float: left;
	padding:0px;
	margin: 0px;
	box-shadow: -20px 0px 20px -100px #222, 20px 0px 20px -100px #222;

}
.provider_logo{
	width:140px;
	height:50px;
}
.nav_btn{
	width:160px; 
	height: 40px!important;
	line-height:40px; 
	border:1px solid #414042;
    border-radius:50px;
    cursor: pointer;
	color:#58595B!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
	margin-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	margin-right: 15px;
	
}
.nav_btn_login{
	width:160px; 
	height: 40px!important;
	line-height:40px; 
	border:1px solid #F00F64;
    border-radius:50px;
    cursor: pointer;
	background-color:#F00F64!important; 
	color:#fff!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
	margin-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	margin-right: 15px;
	
}
.navbar-fixed-left {
  width: 170px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  border-right:1px solid #E6E7E8;
}
.navbar-fixed-left + .container {
  padding-left: 170px;
  padding-top: 20px;
  padding-bottom:5px;
  max-height: 100%;
}

.navbar-fixed-left ul{
	padding:0px;
	margin:0px;
	list-style: none;
	
}

.navbar-fixed-left ul li a{
	display: block;
	padding: 10px 15px!important;
	margin: 5px 0px!important;
	color: #231F20;
	font-size:13px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.navbar-fixed-left ul li a:hover{
	color: #F00F64;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:13px;
}

.right_side{
	width:100%;
	height:auto;
	float: left;
}
.right_side h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color:#414042;
	font-size: 24px;
}

.right_side h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color:#231F20;
	font-size: 16px;
}

.right_side h3{
	font-family:'Montserrat', sans-serif;
	font-weight:300;
	color:#F00F64;
	font-size: 24px;
	margin: 0px;
}
.change_btn {
background-color:#F00F64!important;
color:#fff!important;
margin:0px 0px 0px 5px;
border-radius:15px;
font-size: 11px;
font-weight:400;
padding: 5px 15px!important;
}
.view_btn {
background-color:#BCBEC0!important;
color:#fff!important;
margin:0px 0px 0px 5px;
border-radius:15px;
font-size: 11px;
font-weight:400;
padding: 5px 15px!important;
}

.outline_btn {
background-color:#fff!important;
color:#F00F64!important;
border: 1px solid #F00F64!important;
margin:0px 0px 0px 5px;
border-radius:15px;
font-size: 11px;
font-weight:400;
padding: 5px 15px!important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nopadding-left {
   padding-left:0 !important;
   margin: 0 !important;
}
.nopadding-right {
   padding-right:0 !important;
   margin: 0 !important;
}
.nomargin {
   padding: 0 !important;
   margin: 0 !important;
}
.nomargin-left {
   padding: 0 !important;
   margin-left: 0 !important;
}
.nomargin-right {
   padding: 0 !important;
   margin-right:0 !important;
}
.progress_label{
	color:#6D6E71;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 11px;
	
}
.top_header_span{
	color:#A7A9AC!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
	text-align: center;
}

.top_header_right_span{
	color:#414042!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
	text-align: right;
	margin: 5px 0px;
}

.top_header_right_span h5{
	color:#414042!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
	text-align: right;
	margin: 5px 0px;
}
.top_header_right_span h6{
	color:#414042!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
	text-align: right;
	margin: 5px 0px;
}
.table_active{
	background-color: #414042!important;
	color:#fff!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 12px!important;
    font-weight: 500!important;	
}
.table_th{
	color:#fff!important; 
	font-family: 'Montserrat', sans-serif;
    font-size: 11px!important;
    font-weight: 500!important;	
}
.caption h6{
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
	color: #fff;
	margin:0px; 
}
.caption h4{
	font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
	color: #fff;
	margin:5px 0px; 
}
.caption h4 small{
	font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
	color: #fff;
	margin:5px 0px; 
}
.thumbnail_btn_left{
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
	border-radius:15px;
	border: 1px solid #fff!important;
	background-color: rgba(255, 255, 255, 0.2)!important;
	color:#fff!important; 
}

.thumbnail_btn_right{
	margin-right: 25px;
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
	color:#fff!important;
	text-decoration: underline!important;
	text-transform: inherit;
}
.thumbnail_blue {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#0070DA;
border-radius:0px;
color: #fff;
height:180px; 
}

.thumbnail_red {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#F4474A;
border-radius:0px;
color: #fff;
height:135px; 
}

.thumbnail_pink {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#C41074;
border-radius:0px;
color: #fff;
height:170px; 
}

.thumbnail_yellow {
display:block;
padding:8px;
margin-bottom:5px;
line-height:1.42857143;
background-color:#FFBC00;
border-radius:0px;
color: #36465F;
height:170px; 
}
.caption_yellow {
padding:5px;
color:#36465F
}

.caption_yellow h6{
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
	color: #36465F;
	margin:0px; 
}
.caption_yellow h4{
	font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
	color: #36465F;
	margin:8px 0px; 
}
.caption_yellow h4 small{
	font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
	color: #36465F;
	margin:8px 0px; 
}

.caption_yellow h5{
	font-family:'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 400;
	color:#36465F;
	margin:5px 0px; 
}

.thumbnail_btn_left_yellow{
	font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
	border-radius:15px;
	border: 1px solid #36465F!important;
	background-color: rgba(54, 70, 95, 0.1)!important;
	color:#36465F!important;
	padding: 4px 20px!important;
}

.thumbnail_btn_right_yellow{
	margin-right: 25px;
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
	color:#36465F!important;
	text-decoration: underline!important;
	text-transform: inherit;
}

.form-control_select {
border: 1px solid #fff!important;
-webkit-box-shadow:none;
box-shadow:none;
border-radius:0;
background-color: rgba(255, 255, 255, 0.2)!important;
color:#fff!important;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-weight:400;
height: 30px!important;
line-height: 30px!important;
padding: 5px!important;
}
.form-control_select:focus {
border-color:#fff!important;
outline:0;
}


#myCarousel .nav a {
 display:block;
 color: #58595B;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 font-weight:400;
 border:1px solid #E6E7E8;
 border-top:none;
}

#myCarousel .nav a small {
    display:block;
	color:#A7A9AC;
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight:400;
}

.abcd{
	color:#fff!important;
}

#myCarousel .nav a:focus {
 display:block;
 color: #fff;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 font-weight:500;
 border:1px solid #E6E7E8;
 border-top:none;
}

#myCarousel .nav {
	background:#fff;
}
#myCarousel .nav a {
    border-radius:0px;
}

.carousel-caption h3{
	color:#fff;
	font-size: 19px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.carousel-caption h4{
	color:#fff;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.carousel-caption h6{
	color:#666b73;
	font-size: 12px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.carousel-caption p{
	color:#666b73;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.heading{
	font-size: 25px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color:#F00F64;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	
}
.heading span{
	font-size: 25px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color:#F00F64;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	
}
.heading2{
	font-size: 23px;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
	color:#414042;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 15px;
	
}
.heading2 a{
	font-size: 23px;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
	color:#27AAE1;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 15px;
	
}
.para{
	font-size: 13px;
	font-weight:300;
	font-family: 'Montserrat', sans-serif;
	color:#808285;
	text-align: center;
}
.modal-title h4{
	color:#231F20;
	font-size: 27px;
	font-weight:200;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 20px 0px 0px 0px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.forgot a{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #27aae1!important;
	text-decoration: underline!important;
	font-weight: 300;
	
}
.form-modal{
	background-color: #fff;
    color: #36465f;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 50px!important;
    line-height: 1.42857!important;
    width: 100%;
	border-radius:4px!important; 
	border: 1px solid #D0D2D3!important;
}
.in{
	background: rgba(35, 31, 32, 0.6); 
}
.modal-container {
	background-color: #ffffff;
	height: 100%;
}
.btn_yellow{
	background-color: #FFBC00!important;
    border-radius: 50px;
    color: #414042!important;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 30px;
}

.tab-pane h4{
	font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 600;
	color:#231F20;
	margin-top: 0px;
	margin-bottom:10px;
	text-align: left;
	margin-left: 10px;
}
.card-title{
	color:#000000; 
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 800;
	margin-left: 5px;
	margin-bottom: 0px!important;
	margin-top: 5px!important;
	white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
	
}
.card-text{
	color:#808285;
	font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
	width: 100%;
}

.card-img{
    width: 30px;
	height:30px;
	float: left;
	background-color: #ccc;
	border-radius:100px;
	margin-bottom:5px;
	margin-right:10px; 
	
}
.card-block h5{
	color:#F00F64;
	font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 500;
	text-decoration:none;
	cursor: default;
	white-space: nowrap!important;  
    overflow: hidden!important;
    text-overflow: ellipsis!important; 
}
.active {
    background-color: #f00f64!important;
    color: #fff!important;
}